* {
    box-sizing: border-box;
}

body {
width: 85%;
margin: 0 auto;
/* background-color: rgb(246, 241, 241); */


}

/* header  */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
   background-image: url("imgs/background.jpg");
    background-color: silver;
    font-family: 'Brush Script MT', cursive;
    width: 85%;
}

h1 {
  
    font-size: 300%;
    text-align: center;
    color: #e27272;
}


#logo {
    max-width: 45%;
    height: auto;
    float: left;
}

header a{
    float: right;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
    color: #685e46; 
    font-size: 40px; 
    width: 12%;
}

header nav {
    width: 100%;
}
header nav li {
    display: inline-block;
    padding-right: 80px;
    float: left;
    width: 20%;
    margin-top: 30px;
    
    
}

header nav li a{
    text-decoration: none;
    font-weight: bold;  
    color: #e27272;
    font-size: 18px;
}


/* main */


main article p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
      padding-top: 12%;
      font-size: 30px;
    font-family: 'Courier New', monospace;
    background-image: url("imgs/chinook.jpg");

}
main article img#family {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
    padding-top: 3%;
    
}

main article img#afterp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    padding-top: 3%;
}

main div#shirt {
    display: flex;
    justify-content: space-around;
}
main div#location {
    display: flex;
    justify-content: space-around;
    background-color: silver;
    
}

main div#location p {
    font-size: 35px;
    color: rgb(83, 104, 224);
}

main div#location a {
    text-decoration: none;
    font-weight: bold;  
    color: #e27272;
    font-size: 18px;
}

footer {
    /* display: flex;
    justify-content: space-around; */
   padding-top: 50px;
}

footer a {
    text-decoration: none;
    color: #e27272;
    font-size: 40px;
}

footer img {
    width: 4%;
    float: left;
}